:root{
    --clr-white: #ffffff;
    --clr-blue: #b2f1dd;
    --clr-green: #65d08f;
    --clr-dark-blue: #00194f;

}

body{

    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: var(--clr-white);
    
}

.section {
    margin-left: 70px;
    margin-right: 70px;
    padding: 15px;
    height: 70vh;
    background-color: var(--clr-white);

  }

/* Header */
#header{
    background-image: url(/static/images/main_picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    color: var(--clr-white);
}

#header .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 100px 60px 100px;
    color: var(--clr-white);
}

#header .info .info__title{
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: bold;
}

#header .info .info__desc{
    font-size: 40px;
    padding-bottom: 60px;
    text-align: center;
}

#header .info .info__btn{
    background-color: var(--clr-green);
    border: none;
    border-radius: 8px;
    width: 14%;
    height: 20%;
    color: var(--clr-white);
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;

}

#header .info .info__link{
    font-weight: bold;
    font-size: 30px;
}

#header .fa-circle-arrow-right{
    color: var(--clr-white);
    font-size: 30px;
    margin-left: 12px;
}

/* Hustle */

#hustle {
    display: flex;
    flex-direction: row;
}
#hustle .img{
    width: 50%;
}

#hustle .info{
    padding: 40px;
    width: 50%;
}

#hustle .info .info__title{
    font-size: 40px;
}

#hustle .info .info__desc{
    font-size: 30px;
    margin-bottom: 40px;
}


#hustle .info .info__items{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 20px;
    font-size: 30px;
}

#hustle .info .item{
    width: 500px;
}

#hustle .fa-circle-check{
    color: var(--clr-green);
}


/* Case */

#case {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#case .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
#case img{
    width: 50%;
}

#case .info .info__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    height: 70%;
    gap: 10px;
    padding: 15px;



}

#case .info .info__title{
    font-size: 40px;
    margin-bottom: 20px;

}

#case .info .item{
    color: var(--clr-green);
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

/* Footer */

#footer{
    background-color: var(--clr-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
#footer .title{
    font-size: 40px;
    margin-bottom: 30px;
}

#footer .qustions__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100vw;
    height: 50vh;
    text-align: center;
}

#footer .qustions__items .item{
    width: 45%;
    font-size: 20px;
    padding: 5px;
    height: 20%;
}

#footer.contact{
    font-size: 20px;
}

#footer .contact span{
    font-weight: bold;
    margin-left: 10px;

}